# =========================
# Build / Distribution
# =========================
dist/
output/
build/
*.exe
*.dll
*.zip
*.out

# =========================
# Object Files
# =========================
*.o
*.obj
*.a
*.lib

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Windows
# =========================
*.lnk
Thumbs.db
.DS_Store

# =========================
# Logs / Runtime files
# =========================
*.log
port.txt
imgui.ini

# =========================
# Compiler Generated
# =========================
*.ilk
*.pdb
